.sign-in-form{
    display: flex;
    justify-content: center;

}

@media (max-width: 500px) {
    .sign-in-form{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px;
    }
    .sign-in-container {
        margin: 50px;
    }
}

