.shop-category-list-container{

    .product-title{
        text-align: center;
        font-size: 72px;
        font-weight: bolder;
        color: red;
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
    }
}